/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-light {
  --space-semantic-gap-2xs: var(--dimension-core-050);
  --space-semantic-gap-xs: var(--dimension-core-100);
  --space-semantic-gap-sm: var(--dimension-core-150);
  --space-semantic-gap-md: var(--dimension-core-200);
  --space-semantic-gap-lg: var(--dimension-core-300);
  --space-semantic-gap-xl: var(--dimension-core-600);
  /* Espaciado por defecto entre secciones */
  --space-semantic-gap-section-gap: var(--dimension-core-1500);
}