/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-high-contrast {
  --font-family-core-font-family-primary: "Karol Sans";
  --font-family-core-font-family-secondary: "Twogether Sans";
  --font-family-core-font-family-tertiary: "Quetzalli Sans";
  --font-family-semantic-heading-l-font-family: var(--font-family-core-font-family-secondary);
  --font-family-semantic-heading-m-font-family: var(--font-family-core-font-family-secondary);
  --font-family-semantic-heading-s-font-family: var(--font-family-core-font-family-secondary);
}