/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-gray-scale {
  --border-radius-semantic-border-radius-round: 999px;
  --border-radius-semantic-min: var(--dimension-core-025);
  --border-radius-semantic-sm: var(--dimension-core-050);
  --border-radius-semantic-md: var(--dimension-core-100);
  --border-radius-semantic-lg: var(--dimension-core-150);
  --border-radius-semantic-xl: var(--dimension-core-200);
  --border-radius-semantic-round: var(--dimension-core-full);
  --border-radius-semantic-border-radius-xs: var(--dimension-core-050);
  --border-radius-semantic-border-radius-sm: var(--dimension-core-100);
  --border-radius-semantic-border-radius-md: var(--dimension-core-200);
  --border-radius-semantic-border-radius-lg: var(--dimension-core-300);
  --border-radius-semantic-border-radius-xl: var(--font-size-core-450);
  --border-radius-semantic-border-radius-focus: var(--dimension-core-025);
}