/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-gray-scale {
  --color-core-global-100: #ffffff;
  --color-core-global-95: #f1f1f0;
  --color-core-global-90: #e3e2e2;
  --color-core-global-80: #c6c6c6;
  --color-core-global-75: #b8b9b9;
  --color-core-global-70: #ababab;
  --color-core-global-60: #909191;
  --color-core-global-50: #767777;
  --color-core-global-40: #5d5e5f;
  --color-core-global-30: #454747;
  --color-core-global-20: #2f3131;
  --color-core-global-10: #1a1c1c;
  --color-core-global-0: #000000;
  --color-core-verde-tierra-95: #edf4d1;
  --color-core-verde-tierra-90: #dfe6c3;
  --color-core-verde-tierra-80: #c3caa8;
  --color-core-verde-tierra-70: #a7af8e;
  --color-core-verde-tierra-60: #8d9475;
  --color-core-verde-tierra-50: #71785b;
  --color-core-verde-tierra-40: #5a6146;
  --color-core-verde-tierra-30: #434a30;
  --color-core-verde-tierra-20: #2d331b;
  --color-core-verde-tierra-10: #181e08;
  --color-core-arena-95: #ffeedd;
  --color-core-arena-90: #ffddb6;
  --color-core-arena-80: #e4c196;
  --color-core-arena-70: #bc9b73;
  --color-core-arena-60: #ab8b64;
  --color-core-arena-50: #8f724d;
  --color-core-arena-40: #755937;
  --color-core-arena-30: #5b4221;
  --color-core-arena-20: #422c0d;
  --color-core-arena-10: #2a1800;
  --color-core-bosque-95: #e6f5de;
  --color-core-bosque-90: #d8e7d0;
  --color-core-bosque-80: #bccbb5;
  --color-core-bosque-70: #a1b09a;
  --color-core-bosque-60: #869581;
  --color-core-bosque-50: #6d7b68;
  --color-core-bosque-40: #546250;
  --color-core-bosque-30: #3d4a39;
  --color-core-bosque-20: #2e3b2b;
  --color-core-piedra-97: #f5f4f2;
  --color-core-bosque-10: #121f10;
  --color-core-piedra-95: #ebeade;
  --color-core-piedra-90: #e4e3d6;
  --color-core-piedra-80: #cbcabe;
  --color-core-piedra-70: #acaca0;
  --color-core-piedra-60: #929186;
  --color-core-piedra-50: #78786d;
  --color-core-piedra-40: #5f5f55;
  --color-core-piedra-30: #47473e;
  --color-core-piedra-20: #303129;
  --color-core-piedra-15: #26261e;
  --color-core-piedra-10: #1b1c15;
  --color-core-piedra-5: #11120a;
  --color-core-mora-95: #ffecf2;
  --color-core-mora-90: #ffd8e7;
  --color-core-mora-80: #ffafd4;
  --color-core-mora-70: #e791ba;
  --color-core-mora-60: #c9779f;
  --color-core-mora-50: #ab5e84;
  --color-core-mora-40: #8e466b;
  --color-core-mora-30: #773357;
  --color-core-mora-20: #57183c;
  --color-core-mora-10: #3c0126;
  --color-core-tierra-100: #e5dbd7;
  --color-core-tierra-200: #cbb7af;
  --color-core-tierra-300: #b09286;
  --color-core-tierra-400: #966e5e;
  --color-core-tierra-500: #7c4a36;
  --color-core-tierra-600: #633b2b;
  --color-core-tierra-700: #4a2c20;
  --color-core-tierra-800: #321e16;
  --color-core-tierra-900: #190f0b;
  --color-core-yellow-warning-50: #ffefb6;
  --color-core-yellow-warning-100: #fad550;
  --color-core-yellow-warning-200: #e7b400;
  --color-core-yellow-warning-300: #be8800;
  --color-core-yellow-warning-400: #aa7a00;
  --color-core-yellow-warning-500: #936901;
  --color-core-green-success-50: #d2fad2;
  --color-core-green-success-100: #a6f6a6;
  --color-core-green-success-200: #75d975;
  --color-core-green-success-300: #36a800;
  --color-core-green-success-400: #039409;
  --color-core-green-success-500: #1c7d29;
  --color-core-blue-informative-50: #ecf2ff;
  --color-core-blue-informative-100: #b2ccff;
  --color-core-blue-informative-200: #79a6ff;
  --color-core-blue-informative-500: #3f80ff;
  --color-core-blue-informative-700: #3266cb;
  --color-core-blue-informative-800: #254c97;
  --color-core-blue-informative-1000: #193264;
  --color-core-red-warning-50: #ffeaea;
  --color-core-red-warning-100: #ffd6d7;
  --color-core-red-warning-200: #ffadaf;
  --color-core-red-warning-300: #ff6e70;
  --color-core-red-warning-400: #ef4043;
  --color-core-red-warning-500: #da3237;
  --color-core-red-warning-600: #c22124;
  --color-core-red-warning-700: #87090c;
  --color-core-opacity-light-100: #ffffff1a;
  --color-core-opacity-light-150: #ffffff26;
  --color-core-opacity-light-250: #ffffff40;
  --color-core-opacity-dark-100: #71785b1a;
  --color-core-opacity-dark-150: #71785b26;
  --color-core-opacity-dark-250: #71785b40;
  --color-core-opacity-tinted-50: #7733570d;
  --color-core-opacity-tinted-100: #7733571a;
  --color-core-opacity-tinted-250: #77335740;
  --color-core-opacity-tinted-500: #77335780;
  --color-core-opacity-light-500: #ffffff80;
  --color-core-opacity-light-750: #ffffffbf;
  --color-sem-accent-primary: var(--color-core-global-10);
  --color-sem-accent-on-primary: var(--color-core-global-100);
  --color-sem-accent-primary-low: var(--color-core-global-90);
  --color-sem-accent-on-primary-low: var(--color-core-global-10);
  --color-sem-accent-secondary: var(--color-core-global-40);
  --color-sem-content-emphasis: var(--color-core-global-0);
  --color-sem-accent-on-secondary: var(--color-core-global-100);
  --color-sem-accent-secondary-low: var(--color-core-global-90);
  --color-sem-accent-on-secondary-low: var(--color-core-global-10);
  --color-sem-content-high: var(--color-core-global-20);
  --color-sem-content-low: var(--color-core-global-40);
  --color-sem-content-inverse: var(--color-core-global-100);
  --color-sem-content-inverse-low: var(--color-core-global-80);
  --color-sem-bg-surface-emphasis: var(--color-core-global-90);
  --color-sem-bg-surface-high: var(--color-core-global-80);
  --color-sem-bg-surface-md: var(--color-core-global-90);
  --color-sem-bg-surface-low: var(--color-core-global-95);
  --color-sem-bg-base: var(--color-core-global-100);
  --color-sem-bg-surface-inverse: var(--color-core-global-20);
  --color-sem-bg-surface-inverse-md: var(--color-core-global-30);
  --color-sem-accent-inverse: var(--color-core-global-100);
  --color-sem-border-highest: var(--color-core-global-40);
  --color-sem-border-high: var(--color-core-global-70);
  --color-sem-border-md: var(--color-core-global-80);
  --color-sem-border-low: var(--color-core-global-90);
  --color-sem-border-inverse-highest: var(--color-core-global-100);
  --color-sem-border-inverse-md: var(--color-core-opacity-light-250);
  --color-sem-border-inverse-low: var(--color-core-opacity-light-100);
  --color-sem-support-error: var(--color-core-global-30);
  --color-sem-support-on-error: var(--color-core-global-100);
  --color-sem-support-error-low: var(--color-core-global-80);
  --color-sem-support-on-error-low: var(--color-core-global-10);
  --color-sem-support-warning: var(--color-core-global-30);
  --color-sem-support-on-warning: var(--color-core-global-0);
  --color-sem-support-warning-low: var(--color-core-global-80);
  --color-sem-support-on-warning-low: var(--color-core-global-10);
  --color-sem-support-success: var(--color-core-global-30);
  --color-sem-support-on-success: var(--color-core-global-100);
  --color-sem-support-success-low: var(--color-core-global-80);
  --color-sem-support-on-success-fill: var(--color-core-global-10);
  --color-sem-support-info: var(--color-core-global-30);
  --color-sem-support-on-info: var(--color-core-global-100);
  --color-sem-support-info-fill: var(--color-core-global-80);
  --color-sem-support-on-info-fill: var(--color-core-global-10);
  --color-sem-support-disabled: var(--color-core-global-80);
  --color-sem-support-disabled-fill: var(--color-core-global-95);
  --color-sem-support-on-disabled-fill: var(--color-core-global-80);
  --color-sem-support-focus: var(--color-core-yellow-warning-200);
  --color-sem-reactive-surface-hover: var(--color-core-opacity-dark-100);
  --color-sem-reactive-surface-pressed: var(--color-core-opacity-dark-250);
  --color-sem-reactive-accent-hover: var(--color-core-opacity-tinted-250);
  --color-sem-reactive-accent-pressed: var(--color-core-opacity-tinted-500);
  --color-sem-reactive-inverse-hover: var(--color-core-opacity-light-150);
  --color-sem-reactive-inverse-pressed: var(--color-core-opacity-light-250);
  --color-sem-accent-on-inverse: var(--color-core-global-30);
  --color-sem-accent-neutral: var(--color-core-opacity-light-250);
  --color-sem-accent-on-neutral: var(--color-core-global-30);
  --color-sem-support-on-focus: var(--color-core-global-0);
}