/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-gray-scale {
  --shadow-elevation-low: 0px 15px 30px -10px #0000001a;
  --shadow-elevation-high: 0px 3px 7px 0px #535c261a, 0px 13px 13px 0px #535c2617, 0px 29px 17px 0px #535c260d, 0px 51px 21px 0px #535c2605, 0px 80px 23px 0px #535c2600;
  --shadow-elevation-lowest: 0px 2px 2px 0px #00000008;
}